@import "tailwindcss";

:root {
  /* Slate 900 */
  --background: #0F172A;
  /* Slate 100 */
  --foreground: #F1F5F9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #F1F5F9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
